body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

img {
    position: absolute;
}

#main {
    position: absolute;
    overflow: hidden;
    top: 30px;
}

#life-blocker {
    position: absolute;
    top: 15px;
    right: 160px;
    height: 35px;
    background-color: #000F00;
}

#time-blocker {
    position: absolute;
    bottom: 73px;
    right: 21px;
    height: 28px;
    background-color: #000F00;
}

#player {
    width: 46px;
    height: 33px;
    bottom: 66px;
    left: 500px;
    z-index: 100;
}

.static-el {
    top: 0;
    left: 0;
    visibility: hidden;
}