body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#main {
    position: absolute;
    overflow: hidden;
    top: 30px;
}

.car {
    position: absolute;
}

.log {
    position: absolute;
}

#life-blocker {
    position: absolute;
    top: 15px;
    right: 160px;
    height: 35px;
    background-color: #000F00;
}

#player {
    width: 46px;
    height: 33px;
    /*background-color: red;*/
    position: absolute;
    bottom: 66px;
    left: 500px;
    z-index: 100;
}