body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#main {
    zoom: 0.90;
    border: 5px solid white;
    position: absolute;
    overflow: hidden;
}

.car {
    position: absolute;
}

.log {
    position: absolute;
}

#life-blocker {
    position: absolute;
    top: 30px;
    right: 230px;
    height: 35px;
    background-color: #000F00;
}